body, input {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

p {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
}

#title {
    margin: 10px;
}

#social-likes {
    padding-right: 10px;
    margin: 10px;
}

#search {
    padding: none;
    width: 90%;
}

#map {
    height: 700px;
    margin-top: 10px;
    padding: 0;
}

input {
    width: 300px;
    padding-left: 10px;
    font-size: 12px;
}

.search-input {
    max-width: 400px;
    font-size: 12px;
}

.leaflet-control-search {
	max-width: 400px;
	font-size: 12px;
}